.SquareButtons{
    height:50px;
    width:50px;
    font-size:30px;
   	padding:0; 
   	margin:0;
    padding: 0px;
}
.w3-progress-container{
	width:100%;
	height:1em;
	position:relative;
	background-color:#f1f1f1
}
.w3-progressbar{
	background-color:#757575;
	height:100%;
	position:absolute;
	line-height:inherit
}
table {
	border: 0px solid black;
   	padding:0; 
   	margin:auto;
    border-collapse: collapse;
}

.appContainer{
    width:450px;
    font-size:30px;
	border: 1px solid black;
}

.ButtonContainer{
	text-align: center;
}